#sidebar {
    width: 300px;
    background: #2d2d2d;
    border-right: 2px solid #000;
    display: flex;
    flex-direction: column;
    z-index: 10;
    color: white;
}
.tabs { display: flex; }
.tabs button {
    flex: 1; padding: 15px; background: #3d3d3d; border: none; color: white; cursor: pointer;
}
.tabs button.active { background: #5a5a5a; font-weight: bold; }
.panel { padding: 15px; overflow-y: auto; height: 100%; }
#tiles-list {
    display: grid; grid-template-columns: repeat(3, 1fr); gap: 10px;
}
.tile-item {
    width: 100%; aspect-ratio: 1; border: 2px solid transparent; cursor: pointer;
    background-size: cover; image-rendering: pixelated;
}
.tile-item.selected { border-color: #ffaa00; }
/* Garante que a listagem de monstros se organize de forma limpa */
#monsters-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
}

.monster-item {
    background-color: #333;
    border: 2px solid transparent;
    cursor: pointer;
    border-radius: 4px;
    padding: 4px;
}

.monster-item.selected {
    border-color: #ffaa00;
    background-color: #444;
}